<!DOCTYPE html>
<html>
<head>
	<title>Team Project</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/jquery.dataTables.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<style type="text/css">
		<style>
            body {
            	background-image: url("images/back.jpeg");
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
            	align-items: center;
			    display: flex;
			    justify-content: center;
			    background-image: url("images/back.jpeg");
			    background-repeat: no-repeat;
			    background-position: center 0;
			    background-attachment: fixed;
			    background-size: cover;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #fff;
                padding: 0 25px;
                font-size: 18px;
                text-shadow: 1px 1px 15px #000;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
        </style>
	</style>
</head>
<body>

	<div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title m-b-md">
                <img src="images/logo.png" style="width: 200px;"><br>
                <span style="color: #fff;text-shadow: 1px 1px 15px #000;">Amogh Sadhna</span>
            </div>

            <div class="links">
                <%= link_to('Log in', new_student_session_path)  %>  
                <%= link_to('Sign up', new_student_registration_path)  %>  
  <%= link_to('Logout', destroy_student_session_path, method: :delete) %>        

            </div>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<!-- <script src="js/jquery-3.2.1.js"></script>  *****FOR NO CONNECTION****** -->
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/d3.js"></script>
    <script src="scripts/custom.js"></script>
    <script src="scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
          $(document).ready(function() {
            $('#table').DataTable();  //Table name to put data table function
          } );
      </script>
</body>
</html>
