<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
Highcharts.chart('container', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Skillset Evaluation'
    },
    xAxis: {
        categories: ['John', 'Davis', 'Ria', 'Mohan', 'Raju']
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Distribution of skills'
        }
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [{
        name: 'Speed',
        data: [5, 3, 4, 7, 2]
    }, {
        name: 'Accuracy',
        data: [2, 2, 3, 2, 1]
    }, {
        name: 'Typing',
        data: [3, 4, 4, 2, 5]
    }]
});w
</script>